<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>document</title>
</head>
<body>
    <h1>this is my first html file</h1>
    <h1>j</h1><span><marquee >spider</marquee></span>
    <table border="1px">
        <tr>
            <th rowspan="3">sunil</th>
            <th>vijay</th>
            <th>aravind</th>
        </tr>

    </table>
    
</body>
</html>

